body {
  font-family: 'Poppins', sans-serif;
}
.page-logo{
  width: 80px;
  height: 80px;
}
.slider-photo  {
  height: 70vh;
}
.navbar {
  transition: all 0.5s ease;
}

.fixed-top {
  animation: smoothScroll 1s forwards;
}

.nav-link {
  font-size: 15px;
}

.nav-item {
  margin-right: 40px;
}

.navbar-light .navbar-brand {
  color: #3c3191;
  font-family: 'Audiowide', cursive;
  font-size: 28px;
}

.navbar-light .navbar-brand:hover {
  color: #3c3191;
}

.navbar-light .navbar-brand:focus {
  color: #3c3191;
}

.main-image {
  padding-right: 0px;
  padding-left: 0px;
}

.position-container {
  position: relative;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.navbar-none-padding {
  padding-top: .0rem;
  padding-bottom: .0rem;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #3c3191;
  font-size: 19px;
}

.card-titles {
  font-size: 30px;
  color: black;
}

.box-padding {
  padding-bottom: 15px;
}

.information {
  background: #FFF;
  padding: 10px 10px;
  font-family: 'BenchNine', sans-serif;
  border-radius: 8px;
  border-bottom: 10px solid #3c3191 !important;
  border: 0px;
}

.information span,
p {
  font-size: 22px;
  color: black;
  letter-spacing: 1px;
}

.information i {
  color: black;
  font-size: 40px;
}

.card.border-secondary.mb-3.information {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.32);
}

.contact-icon {
  font-size: 17px;
  padding-right: 10px;
}

.contact {
  margin-right: 10px;
}

.wp i {
  color: #3c3191;
  font-size: 25px;
}

.wp i:hover {
  color: #3c3191;
}

.fc i {
  color: #3c3191;
  font-size: 23px;
  margin-right: 30px;
}

.fc i:hover {
  color: #3c3191;
}

.contact-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-2 span:last-child {
  color: #3c3191;
  text-decoration: none;
}

.today-contact {
  opacity: 0.7;
  color: #3c3191;
}

.makine-information {
  display: flex;
  color: #111;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.makine-information-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.makine-img+.card-body {
  flex: none;
}

.card.h-100:hover {
  border-radius: 10px;
  cursor: pointer;
}

.footer-link {
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #3c3191;
}

.footer-link:hover {
  color: #3c3191;
}

.footer {
  color: #F0F8FF;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.footer-bottom {
  height: 60px;
  background-color: #111;
  color: #F0F8FF;
}

.footer-information {
  color: black;
  text-decoration: none;
}

.footer-title {
  font-size: 20px;
  color: #3c3191;
  padding-top: 10px;
}

.contanct-bold {
  font-weight: 700;
  font-size: 20px;
}

.contact {
  color: #111;
}

.contact-cont {
  background-color: rgb(252, 248, 248);
}

.information-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
}

.hakkimizda-container {
  padding: 30px;
}

.hakkimizda-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-icon {
  background-color: #fff;
}

.hakkimizda-text {
  color: #111;
  font-size: 15px !important;
  letter-spacing: 0px;
  line-height: 25px;
  opacity: 0.7;
}

.hakkimizda-title {
  color: #111;
  padding-bottom: 7px;
}

.slider-container {
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-light .navbar-toggler:focus {
  color: #3c3191;
  border-color: #3c3191;
}

.navbar-toggler-icon {
  color: #3c3191;
}

.navbar-light .navbar-toggler {
  color: #3c3191;
  border-color: #3c3191;
}

.favorites {
  width: 830px;
  padding: 20px 20px;
  overflow: auto;
  display: none;
}

.append-new-li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
}

.favorites-card {
  border: 1px solid grey;
  width: 755px;
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 8px;
  color: #111;
  list-style: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fav-title  {
  font-size: 13px;
}
.order-button {
  margin-left: 40px;
  border-radius: 4px;
  background-color: #fff!important;
  margin-top: 22px;
  border: 1px solid #111;
}
.order-end {
  margin-top: 20px;
  margin-bottom: 20px;
}
.order-button a {
  text-decoration: none;
  color: #111!important;
}
.order-finish{
  height: 50vh;
}
.b {
  margin-left: 10px;
}

.times {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 30px;
  color: red;
  z-index: 10;
}

.fav-images {
  width: 130px;
  height: 130px;
}

.responsive-menu-icon {
  color: #3c3191;
}

/*  YEDEK PARÇA */
.favorites-hearth-icon {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  text-decoration: none;
  color: #111;
}

.favorites-hearth-icon:hover {
  color: #3c3191;
}

.favorites-button {
  font-size: 25px;
}

.favorites-menu-icon {
  font-size: 30px;
  color: #3c3192;
}

.favorites-container {
  position: relative;
}

.trash {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  color: red;
}



.bg-primary {
  background-color: #2C3245 !important;
}

.menu li {
  padding-top: 20px;
  padding-bottom: 20px;
}

.big-title {
  color: #111;
}

.section-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F0F8FF;
}

.card-title-2 {
  font-size: 15px;
}

a.list-element {
  text-decoration: none;
  color: #111;
}

a.list-element:hover {
  color: #3c3191;
}

.information {
  cursor: pointer;
}

.main-background-images {
  padding: 0px;
}

.form-button {
  margin-top: 20px;
}

.form-container {
  position: relative;
}

.machine-title {
  font-size: 40px;
  color: #111(58, 58, 58);
  font-weight: 400;
}

.box-information {
  max-width: 400px;
}

.list-background {
  background-color: #fff;
  border-bottom: 1px solid rgb(155, 154, 154);
}


/*  TAMİR */

.tamir-cont {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F0F8FF;
  border-bottom: none;
}

.tamir-title {
  font-size: 50px;
  font-weight: 500;
}

.makine-information-3 {
  font-size: 21px;
  color: #111;
}

/* SİPARİŞ */
.order-form-control {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-container{
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-container li {
  list-style: none;
}
.order-images {
  width: 80px;
  height: 80px;
}
.order-button {
  background-color: #3c3191;
  padding: 10px;
}
.order-button a {
  color: #fff;
}
.order-card {
  border: 1px solid grey;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
  color: #111;
}
.order-append {
  padding: 0px;
}
@media (max-width: 800px) {
 
  .footer-bottom-span {
    font-size: 12px;
  }

  .machine-title {
    font-size: 27px;
  }

  .responsive-box {
    width: 230px;
  }

  .card-titles {
    font-size: 18px;
  }

  .responsive-text {
    font-size: 15px !important;
  }

  .responsive-padding {
    padding: 0rem 0rem !important;
  }

  .footer-title {
    font-size: 14px;
  }

  .footer-information {
    font-size: 13px;
  }

  .navbar-light .navbar-brand {
    font-size: 23px;
  }

  .yedek-parca-link {
    font-size: 15px;
  }

  .contact-2 span:last-child {
    color: #3c3191;
    text-decoration: none;
  }

  .tamir-title {
    font-size: 30px;
  }

  .special-makine-link {
    font-size: 12px;
  }
  .fav-title {
    font-size: 11px;
  }
  .favorites-card {
    width: 100%;
    padding: 10px;
  }
  .fav-images {
    width: 50px;
    height: 50px;
  }
  .slider-photo {
    height: 30vh;
  }
 
}
@media (max-width: 1321px) {
  .header-contact-icon {
    display: none;
  }
  .contact-2 {
    display: none;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1389px;
  }
  
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}