body {
  font-family: 'Poppins', sans-serif;
}
.nav-link {
  font-size: 15px;
}
.nav-item {
  margin-right: 40px; 
}
.navbar-light .navbar-brand  {
  color: #F1F0E0;
  font-family: 'Audiowide', cursive;
  font-size: 28px;
}
.main-image {
  padding-right: 0px;
  padding-left: 0px;
}
.position-container {
  position: relative;
}
.position-span {
  position: absolute;
  top: 250px;
  left: 170px;
  font-size: 42px;
  font-family: 'Audiowide', cursive;
  color: #2D73C1;
}
.position-span-2 {
  position: absolute;
  top: 310px;
  left: 170px;
  font-size: 23px;
  font-family: 'Audiowide', cursive;
  color: #41483C;
}
.position-image {
  position: absolute;
  top: 100px;
  right: 170px;
  font-size: 23px;
  width: 900px;
  height: 450px;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom right, #0F0D12, #676E7F);
}
.navbar-none-padding {
  padding-top: .0rem;
  padding-bottom: .0rem;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #F0F8FF;
  font-size: 19px;
}
.navbar-light .navbar-brand:hover {
  color: #F0F8FF;
}
.navbar-light .navbar-brand:focus {
  color: #F0F8FF;
}
.card-titles {
  font-size: 30px;
  color: black;
}
.box-padding {
  padding-bottom: 15px;
}
.information {
  background: #FFF;
  padding: 10px 10px;
  font-family: 'BenchNine', sans-serif;
  border-radius: 8px;
  border-bottom: 10px solid #3c3191!important;
}
.information span, p {
  font-size: 27px;
  color: black;
  letter-spacing: 1px;
}
.information i {
  color: black;
  font-size: 40px;
}
.card.border-secondary.mb-3.information {
  box-shadow:0px 0px 10px 0px rgba(50, 50, 50, 0.32);
}
.contact-icon {
  font-size: 17px;
  padding-right: 10px;
}
.contact {
  margin-right: 10px;
}
.wp i {
  color: #fff;
  font-size: 25px;
}
.wp i:hover {
  color: green;
}
.fc i {
  color: #fff;
  font-size: 23px;
  margin-right: 30px;
}
.fc i:hover {
  color: blue;
}
.contact-2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-2 span:last-child {
  color: #F1F0E0;
}
.today-contact {
  opacity: 0.7;
  color: #fff;
}
.makine-information {
  display: flex;
  color:#111;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.makine-information-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.makine-img+.card-body {
  flex: none;
}
.card.h-100:hover {
  border-radius: 10px;
  cursor: pointer;
}
.footer-link {
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #F0F8FF;
}
.footer-link:hover {
  color: #00BBD1;
}
.footer {
  color: #F0F8FF;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom right, #0F0D12, #676E7F);
}
.footer-bottom {
  height: 60px; 
  background-color: #111; 
  color: #F0F8FF;
}
.contanct-bold{
  font-weight: 700;
  font-size: 20px;
}
.contact {
  color: #111;
}
.contact-cont {
  background-color: rgb(252, 248, 248);
}
.information-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hakkimizda-container {
  padding: 30px;
}
.hakkimizda-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.responsive-icon {
  background-color: #fff;
}
.hakkimizda-text {
  color: #111;
  font-size: 18px!important;
  letter-spacing: 0px;
  line-height: 27px;
}
.hakkimizda-title {
  color: #111;
}
     /*  YEDEK PARÇA */ 
.bg-primary {
  background-color: #2C3245!important;
}
.menu li {
  padding-top: 20px;
  padding-bottom: 20px;
}
.big-title {
  color: #111;
}
.section-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F0F8FF;
  border-bottom: 13px solid #202020;
}
.card-title-2 {
  font-size: 15px;
}
a.list-element {
  text-decoration: none;
  color: #111;
}
a.list-element:hover {
  color:#0eb3d6;
}
.information {
  cursor: pointer;
}

.main-background-images {
  padding: 0px;
}
.form-button {
  margin-top: 20px;
}
.machine-title {
  font-size: 40px; 
  color: #111(58, 58, 58);
  font-weight: 700;
}
.box-information {
  max-width: 400px;
}
.list-background  {
  background-color: #fff;
  border-bottom: 1px solid rgb(155, 154, 154);
}

      /*  TAMİR */

.tamir-cont {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F0F8FF;
  border-bottom: none;
}
.tamir-title {
  font-size: 50px;
  font-weight: 500;
}
.makine-information-3 {
  font-size: 21px;
  color: #111;
}
@media (max-width: 800px) {
  .slider-image {
    height: 100%;
  }
  .footer-bottom-span {
    font-size: 12px;
  }
  .machine-title {
    font-size: 27px;
  }
  
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1389px;
}

}